<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{85,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{85,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{79,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{73,103}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{73,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{67,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{67,99}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{59,89}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{59,89}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{59,83}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{59,83}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{65,81}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{65,81}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,67},{61,81}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{61,81}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,331},{65,85}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{65,85}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,317},{67,83}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{67,83}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,192},{57,83}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{57,83}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{57,81}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{57,81}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,164},{59,79}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{59,79}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,107},{61,83}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{61,83}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,230},{59,85}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{59,85}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,107},{65,83}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{65,83}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,65},{61,81}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{61,81}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{61,81}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{61,81}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,130},{65,79}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{65,79}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,128},{65,79}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,25},{65,79}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,402},{65,83}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{65,83}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,245},{59,77}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{59,77}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{63,81}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,26},{63,81}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,192},{61,83}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{61,83}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{65,85}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{65,85}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,85},{63,81}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{63,81}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,195},{65,77}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,29},{65,77}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,418},{61,85}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{61,85}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,85},{49,77}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,26},{49,77}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>0_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,197},{39,75}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,28},{39,75}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameEff_selfhu03.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c20e4a595ba8b23b239f35bc41aeca4:1/1$</string>
            <key>textureFileName</key>
            <string>GameEff_selfhu03.png</string>
        </dict>
    </dict>
</plist>
