<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,324},{296,89}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{296,89}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
            <key>0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{320,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{320,99}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
            <key>0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,101}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{320,101}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
            <key>0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,109}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{320,109}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
            <key>0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{320,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{320,85}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
            <key>0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{320,93}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{320,93}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
            <key>0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{320,87}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{320,87}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
            <key>0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{320,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{320,65}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
            <key>0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{320,57}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{320,57}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
            <key>0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{320,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{320,51}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
            <key>0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{320,43}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{320,43}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
            <key>0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{320,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{320,21}}</string>
                <key>sourceSize</key>
                <string>{320,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameEff_selfhu01.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a576d8520b562f625743b78e10d47bc4:1/1$</string>
            <key>textureFileName</key>
            <string>GameEff_selfhu01.png</string>
        </dict>
    </dict>
</plist>
