<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{1,1}}</string>
                <key>offset</key>
                <string>{-349.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1512},{388,172}}</string>
                <key>offset</key>
                <string>{-156,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,67},{388,172}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1512},{388,192}}</string>
                <key>offset</key>
                <string>{-156,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,53},{388,192}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1524},{446,214}}</string>
                <key>offset</key>
                <string>{-121,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,37},{446,214}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,212},{650,208}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,45},{650,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{654,208}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,45},{654,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1052},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,842},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,842},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,842},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{662,208}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,45},{662,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,842},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{654,208}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,45},{654,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,632},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,422},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,212},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1718},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{662,208}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,45},{662,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1508},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{654,208}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,45},{654,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,860},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,212},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,864},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1718},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{662,208}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,45},{662,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
            <key>0_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1508},{646,208}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{646,208}}</string>
                <key>sourceSize</key>
                <string>{700,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameEff_haohua7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef478bccc3b33099d895752a25c538dc:1/1$</string>
            <key>textureFileName</key>
            <string>GameEff_haohua7.png</string>
        </dict>
    </dict>
</plist>
