<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,216},{204,96}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,62},{204,96}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,422},{196,96}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,61},{196,96}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{284,156}}</string>
                <key>offset</key>
                <string>{34,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,28},{284,156}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{368,152}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,28},{368,152}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{404,170}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,22},{404,170}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,178},{454,180}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{454,180}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{462,184}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{462,184}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,360},{446,164}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{446,164}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{466,174}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{466,174}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,172}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{480,172}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,526},{376,180}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{376,180}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,740},{354,176}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,19},{354,176}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{358,176}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,20},{358,176}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,708},{356,180}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,16},{356,180}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,890},{352,172}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,28},{352,172}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{352,172}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,28},{352,172}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1096},{204,170}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,30},{204,170}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{204,170}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,30},{204,170}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1064},{214,186}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,14},{214,186}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1064},{214,142}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,58},{214,142}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,526},{212,110}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,69},{212,110}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,620},{212,66}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,112},{212,66}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,620},{212,66}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,112},{212,66}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{212,68}}</string>
                <key>offset</key>
                <string>{7,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,114},{212,68}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
            <key>0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{212,68}}</string>
                <key>offset</key>
                <string>{7,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,114},{212,68}}</string>
                <key>sourceSize</key>
                <string>{520,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameEff_shouzhangGang.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4641781dc75af0f41ae06bef4cd4526e:1/1$</string>
            <key>textureFileName</key>
            <string>GameEff_shouzhangGang.png</string>
        </dict>
    </dict>
</plist>
