<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameEff_buhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,190},{345,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,5},{345,188}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_dihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1105},{345,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,15},{345,166}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_ganghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{733,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,3},{733,192}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_haohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{879,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{879,186}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_huahu.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1273},{341,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,4},{341,190}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_huahua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{727,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,2},{727,192}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_jiehu.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1816},{341,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,0},{341,198}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_pengpeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1281},{533,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,14},{533,168}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_qianggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,578},{525,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,16},{525,164}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_qidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1281},{519,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,15},{519,168}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_qingyisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,578},{701,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,5},{701,188}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_sandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,578},{719,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,7},{719,184}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_shisan.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,578},{507,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,24},{507,150}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_shougang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{733,182}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,7},{733,182}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_shougen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1313},{731,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,8},{731,182}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_sidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1299},{711,184}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,6},{711,184}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
            <key>GameEff_tianhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1616},{321,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,15},{321,166}}</string>
                <key>sourceSize</key>
                <string>{879,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameEff_wordTexture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da7a35a33c695fc86d1d39517916fa17:1/1$</string>
            <key>textureFileName</key>
            <string>GameEff_wordTexture.png</string>
        </dict>
    </dict>
</plist>
