<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{58,60}}</string>
                <key>offset</key>
                <string>{-114,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,108},{58,60}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{336,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{336,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{344,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{342,200}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{264,200}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,204},{262,200}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{262,200}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,200}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,204},{256,188}}</string>
                <key>offset</key>
                <string>{-47,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{256,188}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,394},{180,188}}</string>
                <key>offset</key>
                <string>{-85,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{180,188}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,576},{150,144}}</string>
                <key>offset</key>
                <string>{-94,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{150,144}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{60,72}}</string>
                <key>offset</key>
                <string>{-55,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,19},{60,72}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameEff_chipeng.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b24ed3033568f4b2922db27dc84e3694:1/1$</string>
            <key>textureFileName</key>
            <string>GameEff_chipeng.png</string>
        </dict>
    </dict>
</plist>
