<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameDlg_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,470},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>GameDlg_createRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,451},{170,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,45}}</string>
                <key>sourceSize</key>
                <string>{170,45}</string>
            </dict>
            <key>GameDlg_gameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,278},{171,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,45}}</string>
                <key>sourceSize</key>
                <string>{171,45}</string>
            </dict>
            <key>GameDlg_gameSetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,543},{167,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,40}}</string>
                <key>sourceSize</key>
                <string>{167,40}</string>
            </dict>
            <key>GameDlg_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,183},{93,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,46}}</string>
                <key>sourceSize</key>
                <string>{93,46}</string>
            </dict>
            <key>GameDlg_help01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{234,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,70}}</string>
                <key>sourceSize</key>
                <string>{234,70}</string>
            </dict>
            <key>GameDlg_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,384},{89,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{89,42}}</string>
                <key>sourceSize</key>
                <string>{93,46}</string>
            </dict>
            <key>GameDlg_joinRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,498},{169,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{169,43}}</string>
                <key>sourceSize</key>
                <string>{171,45}</string>
            </dict>
            <key>GameDlg_lattern.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{104,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,239}}</string>
                <key>sourceSize</key>
                <string>{104,239}</string>
            </dict>
            <key>GameDlg_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{355,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,74}}</string>
                <key>sourceSize</key>
                <string>{355,74}</string>
            </dict>
            <key>GameDlg_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,428},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{89,40}}</string>
                <key>sourceSize</key>
                <string>{93,46}</string>
            </dict>
            <key>GameDlg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,585},{63,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,115}}</string>
                <key>sourceSize</key>
                <string>{63,115}</string>
            </dict>
            <key>GameDlg_queLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,137},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>GameDlg_resultBk.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,284},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>GameDlg_roomMaster.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,359},{91,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,23}}</string>
                <key>sourceSize</key>
                <string>{93,23}</string>
            </dict>
            <key>GameDlg_rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,433},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>GameDlg_rope01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,608},{71,107}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,107}}</string>
                <key>sourceSize</key>
                <string>{71,111}</string>
            </dict>
            <key>GameDlg_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,407},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>GameDlg_selectCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,407},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>GameDlg_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,543},{63,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,115}}</string>
                <key>sourceSize</key>
                <string>{63,115}</string>
            </dict>
            <key>GameDlg_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,407},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>GameDlg_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,585},{35,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,68}}</string>
                <key>sourceSize</key>
                <string>{35,68}</string>
            </dict>
            <key>GameDlg_shareHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>GameDlg_shareHeadFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,78},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>GameDlg_shareItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{204,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,368}}</string>
                <key>sourceSize</key>
                <string>{204,368}</string>
            </dict>
            <key>GameDlg_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,74}}</string>
                <key>sourceSize</key>
                <string>{428,74}</string>
            </dict>
            <key>Game_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>Game_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameDlg_texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6d9107aa203eeff31a71727855e6a51:1/1$</string>
            <key>textureFileName</key>
            <string>GameDlg_texture.png</string>
        </dict>
    </dict>
</plist>
